body {
  font: 12px Verdana, sans-serif;
}

a {
  color: #033eb6;
}

#symbols-list ul {
  list-style: none;
  font-size: 3em;
}

#symbols-list .description {
  font-size: 0.5em;
  color: #203d6d;
}

#byline {
  color: #b6b6b6;
}
